@font-face {
    font-family: "DIN Pro Medium";
    src: url("./../fonts/DIN_Pro_Medium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DIN Pro Bold";
    src: url("./../fonts/DIN_Pro_Bold_700.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.container .settings{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px 25px;
}

.container input[type=range] {
    width: 100%;
    cursor: pointer;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container input[type=range]::-webkit-slider-runnable-track { 
    border-radius: 5px/100%; 
    height: 6px;   
    margin-top: 3px;
    border: 1px solid #001f3f; 
    background-color: #001f3f; 
}

.container input[type=range]::-webkit-slider-thumb { 
    background: #001f3f; 
    border: 1px solid black; 
    border-radius: 13px/100%; 
    cursor: pointer; 
    width: 13px;
    height: 13px; 
    -webkit-appearance: none; 
    margin-top: -4px; 
}

.container input[type=range]::-moz-range-track {  
    border-radius: 10px/100%; 
    height: 5px; 
    border: 1px solid #001f3f; 
    background-color: #001f3f; 
}

.container input[type=range]::-moz-range-thumb {  
    background: #001f3f;  
    border: 1px solid #001f3f; 
    border-radius: 10px/100%;  
    cursor: pointer; 
}

.container input[type=color] {
    width: 50px;
    height: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 5px;
}

.container input[type="text"] {
    width: 55px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.container select {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #0b255e;
    cursor: pointer;
    font-family: "DIN Pro Medium", sans-serif;

    outline: none; /* Убираем контур при фокусе */
}

.container option {
     background-color: #4a91d3;
}

.container label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.container {
    background-color: #4a91d3;
    padding: 30px;
    width: 60vmin;
    border-radius: 25px;
    box-shadow: 
        20px 20px 60px #3f7bb3,
        -20px -20px 60px #55a7f3;
}

.MainContainer {
    background-color: #4a91d3;
    padding: 20px;
    width: 130vmin;
    border-radius: 25px;
    box-shadow:
        20px 20px 60px #3f7bb3,
        -20px -20px 60px #55a7f3;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.title h1{
    font-size: 24px;
    font-family: "DIN Pro Bold", sans-serif;
}

.title h3 {
    padding-top: 5px;
    font-size: 16px;
    font-family: "DIN Pro Medium", sans-serif;
}

.body {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    gap: 10px;
}

.container label {
    font-family: "DIN Pro Bold", sans-serif;
    cursor: unset;
}

.color {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
}

.codeBlock {
    border-radius: 5px;
    width: 100%;
    background-color: #1d1f21;
    font-family: "DIN Pro Medium", sans-serif;
}

.codeBlock button {
    margin-top: 5px;
    margin-left: 31.7%;
    position: absolute;
    width: 5%;
    padding: 3px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #3b843c;
    background-color: #3b843c;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "DIN Pro Medium", sans-serif;
    font-size: 12px;
}

.codeBlock pre {
    color: #FFFFFF;
    font-family: "Cascadia Mono", sans-serif;
    padding: 15px;
    font-size: 10px;
}

.result {
    width: 50%;
    margin-right: 5%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.watermark {
    font-family: "DIN Pro Bold", sans-serif;
    font-size: 12px;
    text-align: right;
    width: 100%;
}

.watermark a {
    border-radius: 3px;
    background-color: black;
    color: #c5c8c6;
    padding: 3px;
    
    font-family: 'DIN Pro Medium', sans-serif;
}

.socials {
    font-family: "DIN Pro Bold", sans-serif;
    font-size: 12px;
    width: 100%;
}

.socials a {
    border-radius: 3px;
    background-color: black;
    color: #c5c8c6;
    padding: 3px;

    font-family: 'DIN Pro Medium', sans-serif;  
}